<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
</head>
<body>
<h1>{{ user.username }}的购物车</h1>
{% for cart_item in cart_item_list %}
    {% if not cart_item.collected %}
        <a href="{% url "shop:ShowItem" cart_item.id %}">{{ cart_item.item.item_name }}</a>
        价格：{{ cart_item.item.price }}
        <a href="">移入收藏</a>
        <a href="">删除</a><br/>
        <hr/>
    {% endif %}
{% endfor %}
<form action="" method="get">
    <input type="submit" value="立即下单" />
</form>
<h2>收藏列表</h2>
{% for cart_item in cart_item_list %}
    {% if cart_item.collected %}
        <a href="{% url "shop:ShowItem" cart_item.id %}">{{ cart_item.item.item_name }}</a>
        价格：{{ cart_item.item.price }}
        <a href="">加入购物车</a>
        <a href="">删除</a><br/>
        <hr/>
    {% endif %}
{% endfor %}


</body>
</html>