<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>
<div style="text-align: right">
    {{ status_bar|safe }}
</div>
<div style="float: left">
    图片
</div>
<div>
    <h1>{{ item_model.item_name }}</h1>
    <h2 style="color: red">
        价格：{{ item_model.price }}
    </h2>
    {% if not user_type == 'seller' %}
        {% if not history %}
            <form action="{% url 'shop:ShowItem' item_model.item_id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="加入购物车" name="add_to_cart" />
                <input type="submit" value="立即购买" name="buy_now" />
            </form>
        {% endif %}
    {% endif %}
    <h3>商品介绍：</h3>
    =============================================================<br/>
    {{ item_introduction|safe }}
    =============================================================
</div>
</body>
</html>